<div class="container mt-4">
  <h2 class="mb-4">Add new project</h2>
  <form (ngSubmit)="addProject()" class="needs-validation">
    <div class="form-group">
      <label for="name">Project Name:</label>
      <input
      type="text"
      [(ngModel)]="newProject.name"
      name="name"
      id="name"
      class="form-control"
      required />
    </div>
    <div class="form-group">
      <label for="description" class="form-label">Description:</label>
      <input
       [(ngModel)]="newProject.description"
       name="description"
       id="description"
       class="form-control"
       required
       />
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Add Project</button>
      <button type="button"
              class="btn btn-secondary ms-2"
              (click)="router.navigate(['/projects'])">
        Cancel
      </button>
    </div>
  </form>
</div>
