<div class="container mt-4">
  <div class="d-flex">
    <h2 class="mb-4 me-auto">Part Checkings</h2>
    <button routerLink="/partCheckings/add" class="btn btn-primary mb-3">
      Add PartChecking
    </button>
  </div>
  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let partChecking of partCheckings"
    >
      <span>
        <strong>{{ partChecking.name }}</strong
        >&nbsp;-
        {{ partChecking.type }}
      </span>
      <span>
        <button
          [routerLink]="['/partCheckings/edit', partChecking.partCheckID]"
          class="btn btn-sm btn-sm mr-2"
        >
          Edit
        </button>
        <button
          class="btn btn-sm btn-sm"
          (click)="
            partChecking.partCheckID
              ? deletePartChecking(partChecking.partCheckID)
              : null
          "
        >
          Delete
        </button>
      </span>
    </li>
  </ul>
</div>
