h1 {
  padding: 0 1rem;
}

h2 {
  padding: 1rem;
}


mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

mat-sidenav-container {
  height: 100%;
}


mat-sidenav {
  padding-top: 4.5rem !important;
  width: 80px;
}
.entry{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
}

@media screen and (min-width: 600px) {
  mat-sidenav {
    padding-top: 4.5rem;
  }
}



mat-sidenav-content {
  margin: 1rem;
  padding-top: 5.5rem;
  transition: margin-left 0.3s ease-in-out;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  mat-sidenav-content {
    padding: 1rem;
    padding-top: 4.5rem;
  }
}

.mat-sidenav-content.expanded-content {
  margin-left: 300px;
  margin-right: 20px; 
}

.expanded {
  padding-top: 55px;
  width: 300px;
}

span {
  font-size: x-large;
}

.end {
  margin-left: auto;
  margin-right: 0;
}

.end a {
  padding-left: 1rem;
  text-decoration: none;
  color: white;
}

.end a span {
  font-size: medium;
}

mat-sidenav .sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bottom-item {
  margin-top: auto !important;
}

mat-button :hover {
  text-decoration: none;
}

button{
    margin: 0px;
    border: none;
    background-color: inherit;
    padding-top: 0.5rem;
}

.end {
  display: flex;
  align-items: center;
}

.mobile-hide {
  display: none;
}

.mobile-auth {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

@media (max-width: 768px) {
  .mobile-hide {
    display: none;
  }

  .mobile-auth {
    display: flex;
  }
}

.mat-mdc-menu-item {
    text-align: center;
}
