.container {
    display: flex;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 50vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.container-table {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 25vw;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-recent {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 95vw;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}


.project-count-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 2vw;
}

.project-count {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px;
  background-color: #f9f9f9;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 15vw;
}

.count {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  line-height: 1;
}

.label {
  font-size: 0.8rem;
  color: #777;
}

.see-all-button {
  float: right;
  margin-left: auto;
  margin-right: 0;
  background-color: #0d6efd;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8rem;
  align-self: flex-start;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
 /* border: 6px solid #E3E2E8;
  border-radius: 5px;
  background: #E3E2E8;*/
  padding: 15px;
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: auto;
}

.projects-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

  .projects-table thead {
    font-weight: bold;
    padding-bottom: 150px;
  }

  .projects-table th,
  .projects-table td {
    margin-top: 51px;
    padding: 10px 12px;
    text-align: left;
  }

. /*.projects-table tbody tr {
    background-color: whitesmoke;
  }

  .projects-table tbody tr:hover {
    background-color: #edf2f7;
  }*/
.status-badge {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 0.7rem;
  font-weight: bold;
  color: #4b5563;
  background-color: #e5e7eb;
}

.status-indicator {
  display: inline-block;
  width: 8px;
  height: 8px; 
  border-radius: 50%;
  margin-right: 5px; 
}

.status-review {
  background-color: #7e57c2;
}

.status-in-progress {
  background-color: #e53e3e;
}

.status-pending {
  background-color: #ed8936;
}

a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 768px) {
  .projects-table {
    font-size: 0.8rem;
  }

    .projects-table th,
    .projects-table td {
      padding: 6px 8px;
    }

  .project-count {
    width: 25vw;
  }

  .container{
      max-width: 90vw;
      align-content: space-between;
      align-items: stretch;
  }

  .container-table{
     width: 90vw;
  }
}
