<div class="container">
  <div class="project-count-container">
    <div class="project-count">
      <span class="count">{{ projects.length }}</span>
      <span class="label">Projects</span>
    </div>
    <div class="project-count">
      <span class="count">{{ users.length }}</span>
      <span class="label">Users</span>
    </div>
    <div class="project-count">
      <span class="count">{{ assemblyLines.length }}</span>
      <span class="label">Assembly Lines</span>
    </div>
  </div>
</div>

<div class="container-recent">
  <div class="container-table">
    <div class="title">
      <span>Recent Projects</span>
      <a href="#" class="see-all-button">See all &rarr;</a>
    </div>

    <div class="table-wrapper">
      <table class="projects-table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <a [routerLink]="['/projects', project.projectID]">
            <td>{{ project.name }}</td>
            </a>
            <td>
              <span class="status-badge">
                <span class="status-indicator" [ngClass]="{'status-review': project.status === 0, 'status-in-progress': project.status === 1, 'status-pending': project.status === 2}"></span>
                {{ getEnumName(project.status) }}
              </span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container-table">
    <div class="title">
      <span>Recent AssemlbyLines</span>
      <a href="#" class="see-all-button">See all &rarr;</a>
    </div>

    <div class="table-wrapper">
      <table class="projects-table">
        <thead>
          <tr>
            <th>AssemblyLine</th>
            <th>Project</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assemblyLine of assemblyLines">
            <td>{{ assemblyLine.name }}</td>
            <td>
              <ng-container *ngFor="let project of projects">
                <span *ngIf="project.projectID === assemblyLine.projectID">{{ project.name }}</span>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
