<div class="container mt-4">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <h2 class="me-auto">Projects</h2>
    <input type="text" class="form-control ms-5 me-5" placeholder="Search projects" [(ngModel)]="searchTerm" (input)="filterProjects()">
    <button [routerLink]="['add']" class="btn btn-primary me-2">
      AddProject
    </button>
    <button (click)="exportExcel()" class="btn btn-success">
      Export to Excel
    </button>

  </div>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let project of filteredProjects">
      <div class="d-flex flex-column">
        <strong>{{ project.name }}</strong>
        <span>{{ project.description }}</span>
        <span class="text-muted"><i>{{ getEnumName(project.status) }}</i></span>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center ms-3">
        <button [routerLink]="['/projects', project.projectID]" class="btn btn-success btn-sm me-2">
          <i class="material-icons">arrow_forward</i>
        </button>
        <button [routerLink]="['/projects/edit', project.projectID]" class="btn btn-primary btn-sm me-2 mt-1">
          <i class="material-icons">edit</i>
        </button>
        <button class="btn btn-danger btn-sm me-2 mt-1" (click)="deleteProject(project.projectID)">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </li>
  </ul>
</div>

