<div class="container mt-4">
  <h2 class="mb-4">Edit PartChecking</h2>
  <div *ngIf="partChecking">
    <form (ngSubmit)="updatePartChecking()" class="needs-validation">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          [(ngModel)]="partChecking.name"
          name="name"
          id="name"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <input
          type="text"
          [(ngModel)]="partChecking.type"
          name="type"
          id="type"
          class="form-control"
          required
        />
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Save</button>
        <button
          type="button"
          class="btn btn-secondary ms-2"
          (click)="router.navigate(['/partCheckings'])"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
