<div *ngIf="project" class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>{{ project.name }}</h2>
    </div>
    <div class="card-body">
      <p>{{ project.description }}</p>
      <button [routerLink]="['/projects', project.projectID, 'assembly-lines', 'add']" class="btn btn-primary mb-3">
        Add Assembly Line
      </button>
      <button [routerLink]="['/projects', project.projectID, 'projectSchema']" class="btn btn-primary mb-3 ms-2">
        Schema
      </button>
      <h3>Assembly Lines</h3>
      <div *ngIf="assemblyLines.length > 0; else noAssemblyLines">
        <div class="list-group">
          <div *ngFor="let assemblyLine of assemblyLines" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <a [routerLink]="['/projects', project.projectID, 'assembly-lines', assemblyLine.lineID ]">
                <h5 class="mb-1">{{ assemblyLine.name }}</h5>
                <p class="mb-1">{{ assemblyLine.description }}</p>
              </a>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center ms-3">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/projects', project.projectID, 'assembly-lines', assemblyLine.lineID ]">
                  <mat-icon>arrow_forward</mat-icon>
                  <span>View</span>
                </button>
                <button mat-menu-item [routerLink]="['/projects', project.projectID, 'assembly-lines', 'edit', assemblyLine.lineID]">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deleteAssemblyLine(assemblyLine.lineID)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
              </div>
            </div>
        </div>
      </div>
      <ng-template #noAssemblyLines>
        <p>No assembly lines available.</p>
      </ng-template>
    </div>
  </div>
</div>
