<div *ngIf="assemblyLine" class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>{{ assemblyLine.name }}</h2>
    </div>
    <div class="card-body">
      <p>{{ assemblyLine.description }}</p>
      <button [routerLink]="['/projects', assemblyLine.projectID, 'assembly-lines', assemblyLine.lineID, 'stations', 'add']" class="btn btn-primary mb-3">
        Add Station
      </button>
      <h3>Stations</h3>
      <div *ngIf="stations.length > 0; else noAssemblyLines">
        <div class="list-group">
          <div *ngFor="let station of stations" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <h5 class="mb-1">{{ station.name }}</h5>
              <p class="mb-1">{{ station.description }}</p>
            </div>
            <div>
              <button (click)="deleteStation(station.stationID)" class="btn btn-danger btn-sm me-2">Delete</button>
              <button  [routerLink]="['/projects', assemblyLine.projectID, 'assembly-lines', assemblyLine.lineID, 'stations', 'edit', station.stationID]" class="btn btn-primary btn-sm">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noAssemblyLines>
        <p>No stations available.</p>
      </ng-template>
    </div>
  </div>
</div>
